@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

.background {
  position: absolute;
  width: 600px;
  height: 320px;
  background-color: #0b580a;
  border-radius: 10px;
  transform: rotate(2deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;
  width: 580px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(1deg) skew(1deg, 0deg);
}

.card-content {
  transform: none;
}

h2 {
  color: #0b580a;
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 16px;
}